ul {
  list-style-type: none;
}
input.ng-pristine.ng-invalid {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
button {
  filter: opacity(0.9) !important;
  font-weight: bold;
  color: white;
}
.row-m-t {
  margin: 5px !important;
  padding: 5px !important;
}
.usr {
  font-weight: bold;
  color: #6F8F74;
  border-radius: 5px 0px 0px 5px;
  background: white;
}
.msg {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #aacdb950;
  border-top-width: 0;
}
table {
  table-layout: fixed;
  word-wrap: break-word;
}
button:hover {
  color: white;
  filter: opacity(1) !important;
}
