<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <form id="form_login">

          <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4">
              <label >Email</label>
              <div >
                  <input class="form-control" [(ngModel)]='usuario.$email' value="" type="text" name="email" id="email" data-validacion="txt_r" required>
              </div>
          </div>

          <div class="form-group col-xs-12 col-sm-4 col-sm-offset-4">
              <label>Password</label>
              <div>
                  <input class="form-control" [(ngModel)]='usuario.$pass' value="" type="password" name="pass" id="pass" data-validacion="txt_r" required>
              </div>
          </div>

          <div class="form-group">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-right" >
                    <input type="button" value="enviar" (click)="buscaUser()">
                </div>
            </div>
      </form>
    </div>
  </div>
</div>
