<div class="container-fluid">
  <div class="row">
    <div class="form-group" class="col-lg-8 col-md-8 col-xs-12 col-centered">
          <form id="formUsuario" class="form-horizontal ">
              <div class="form-group">
                  <label class="col-xs-12  col-sm-4 col-lg-3">Nombre</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$nombre' value="" type="text" name="nombre" id="nombre" data-validacion="txt_r" required>
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Apellidos</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$apellido' type="text" name="apellidos" data-validacion="txt_r" id="apellidos">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Password</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$pass' type="text" name="pass" data-validacion="pass" id="passN">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Repite de password</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" type="text" name="passR" data-validacion="pass2" id="passR">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Email</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$email' type="email" name="email" data-validacion="email" id="emailN">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Pais</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$pais' type="text" name="pais" data-validacion="txt_r" id="pais">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Ciudad</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$ciudad' type="text" name="ciudad" data-validacion="txt_r" id="ciudad">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Calle</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$calle' type="text" data-validacion="txt_r" name="calle" id="calle">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Número</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$numero' type="number" name="numero" data-validacion="txt_r" id="numero">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Piso</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$piso' type="number" name="piso" data-validacion="txt_r" id="piso">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Letra</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$letra' type="text" name="letra" data-validacion="txt_r" id="letra">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-xs-12 col-sm-4 col-lg-3">Código Postal</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-control" [(ngModel)]='usuario.$cp' type="number" name="cp" data-validacion="txt_r" id="cp">
                  </div>
              </div>

              <div class="form-group">
                  <label class="form-check-label col-xs-12 col-sm-4 col-lg-3" for="productor">Productor</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-check-input" [(ngModel)]='usuario.$productor' value="true" type="checkbox" name="productor" id="productor">
                  </div>
              </div>

              <div class="form-group">
                  <label class="form-check-label col-xs-12 col-sm-4 col-lg-3" for="comprador">Comprador</label>
                  <div class="col-xs-12 col-sm-4">
                      <input class="form-check-input" [(ngModel)]='usuario.$comprador' value="true" type="checkbox" name="comprador" id="comprador">
                  </div>
              </div>

              <div class="form-group">
                <div class="col-xs-12 col-sm-4 text-right">
                    <input type="button" value="enviar" (click)='enviaUser()'>
                </div>
            </div>
          </form>
    </div>
  </div>
</div>
