<div class="container-fluid">
  <div class="row">







    <div class="col-xs-12 col-md-4">
      <app-productor></app-productor>
    </div>




    <div id="contenido" class="col-xs-12 col-md-8">

    <div class="row">



      <div class="col-xs-10 col-centered">
        <h2>
          <u>Productos disponibles</u>
        </h2>
        <app-productos-disponibles></app-productos-disponibles>


      </div>

    </div>

    <!-- <div class="row"> -->

    <div class="row">
      <div class="col-xs-10 col-centered">
        <h3>
          <u>Pedidos pendientes</u>
        </h3>
        <app-pedido-consu></app-pedido-consu>
      </div>
    </div>
  </div>











  </div>
</div>
