
<table class="table">
    <tr>
      <th>Producto</th>
      <th>Categoría</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Precio</th>
      <th>Productor</th>
      <th>Estado </th>


    </tr>
    <tr *ngFor="let item of ped.ListadoPendiente">
      <td>
       {{item.producto}}
      </td>
      <td>
        {{item.categoria}}
      </td>
      <td>
        {{item.cantidad}}
      </td>
      <td>
       {{item.fecha}}
      </td>
      <td>
        {{item.precio}}
      </td>
      <td>
        {{item.nombreproduc}}
      </td>
      <td>
        <button  type="button" class="btn btn-default" (click)="ped.recibido(item.id)">Recibido</button>
        </td>

    </tr>
  </table>

